sudo: false

language: node_js

addons:
  sauce_connect: true

cache:
  directories:
    - node_modules

node_js:
   - 0.10 # to be removed 2016-10-01
   - 0.12 # to be removed 2016-12-31
   - 4 # to be removed 2018-04-01
   - 6 # to be removed 2019-04-01
   - lts/* # safety net; don't remove
   - node # safety net; don't remove

before_install:
  - npm i -g npm@latest

script:
  - npm test

after_success:
  - 'travis-after-all && npm run semantic-release'
